html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	min-width: 100%;
}

@font-face {
	font-family: 'Inter';
	src: url(../fonts/InterBold.woff2) format('woff2');
	font-display: srap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url(../fonts/InterSemiBold.woff2) format('woff2');
	font-display: srap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url(../fonts/InterMedium.woff2) format('woff2');
	font-display: srap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url(../fonts/InterRegular.woff2) format('woff2');
	font-display: srap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url(../fonts/InterLight.woff2) format('woff2');
	font-display: srap;
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: 'Inter', sans-serif;
}

:root {
	--color-white: #fff;
	--color-grey: #838383;
	--color-darkgrey: #1d1d1f;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	bottom: 0;
	clip: rect(0 0 0 0);
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	padding: 0;
	margin: 0;
	list-style: none;
}

.logo {
	font-weight: 500;
	font-size: 32px;
	line-height: 130%;
	color: var(--color-white);
}

.btn--light {
	padding: 20px 0;
	min-width: 180px;
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	text-align: center;
	color: var(--color-darkgrey);
	background-color: var(--color-white);
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 60px;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	padding: 39px 0;
	width: 100%;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__right {
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 35px;
}

.nav__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-white);
}

.header__search {
	width: 24px;
	height: 24px;
	margin-right: 35px;
}

.header__search svg {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero {
	padding-top: calc(120px + 150px);
	/* margin-top: 400px; */
	height: 100vh;
	min-height: 800px;
	background-image: url(../img/hero-cover.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__title {
	margin-top: 0;
	margin-bottom: 30px;
	max-width: 936px;
	font-weight: 600;
	font-size: 96px;
	line-height: 116px;
	color: var(--color-white);
}

.hero__text {
	margin: 0;
	margin-bottom: 50px;
	max-width: 468px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--color-white);
}

.about__top {
	padding-top: 190px;
	margin-bottom: 190px;
}

.about__item:not(:last-child) {
	margin-bottom: 60px;
}

.completed__value {
	font-weight: 300;
	font-size: 64px;
	line-height: 140%;
	color: var(--color-darkgrey);
}

.completed__descr {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--color-grey);
}

.about__title {
	margin: 0;
	margin-bottom: 60px;
	font-weight: 700;
	font-size: 44px;
	line-height: 140%;
	color: var(--color-darkgrey);
}

.about__descr {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--color-darkgrey);
}

.about__descr:not(:last-child) {
	margin-bottom: 30px;
}

.about__video {
	position: relative;
	width: 100%;
	height: 630px;
	overflow: hidden;
}

.about__video video {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about__play {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	transform: translate(-50%, -50%);
}

.about__play-hidden {
	display: none;
}

.about__play svg {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}